@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/Nunito/static/Nunito-Medium.ttf');
}

* {
  font-family: Nunito !important;
}
input:focus {
  outline: none;
}
body {
  color: #2b2b43;
  font-family: Nunito;
  font-style: normal;

  line-height: 20px; /* 142.857% */
  letter-spacing: 0.1px;
}
.container-wrapper {
  max-width: 1300px;
  padding: 0px 30px;
  margin-left: auto;
  margin-right: auto;
}

.menu > a {
  padding: 10px;
  font-size: 1.1em;
  cursor: pointer;
  font-weight: 700;
}

.line {
  margin: 8px 10px 0 10px;
  height: 30px;
  border-left: solid 2px #edeef2;
}
.noti {
  margin-top: -45px;
  margin-left: 23px;
  position: absolute;
  font-size: 0.6em;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  background: #4e60ff;
  color: #edeef2;
  border-radius: 0.5rem;
  text-align: center;
}
.noti-mini {
  margin-top: -38px;
  margin-left: 17px;
  position: absolute;
  font-size: 0.6em;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  background: #4e60ff;
  color: #edeef2;
  border-radius: 0.5rem;
  text-align: center;
  border: #edeef2 2px solid;
}

.text {
  text-align: left;
  padding: 10px;
}
.text > h4 {
  font-size: 1.8em;
  color: #2b2b43;
}
.text > h1 {
  font-size: 3.2em;

  font-style: normal;
  line-height: 56px; /* 140% */
  letter-spacing: 0.1px;
}
.text > p {
  font-size: 1em;
  color: #83859c;
}

.login-cot > h1 {
  font-size: 60px;
}

.steps {
  position: absolute;
  z-index: -50;
  opacity: 0;
  margin-left: -700px;
}
.bloc {
  transition: opacity 0.5s, margin 1s linear;
}
.bg-bl {
  background: #4e60ff !important;
}
.tx-bl {
    color: #4e60ff !important;
}
.bg-gr {
  background: #19bf6f !important;
}
.ymaps-2-1-79-copyright__link, .ymaps-2-1-79-copyright__text, .ymaps-2-1-79-gotoymaps__container{
  display: none;
}
.ymaps-2-1-79-float-button{
  border-radius: 10px !important;
  top: 5px;
  left: 3px;
}
.ymaps-2-1-79-listbox{
  border-radius: 50px !important;
  right: 10px;
}
.ymaps-2-1-79-zoom__minus {
   top: 90px;
}
.ymaps-2-1-79-float-button-icon_icon_geolocation{
    right: 0px !important;
}
.ymaps-2-1-79-zoom__plus {
   top: 50px;
}

/* POPUP ============= */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.active{
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 3s ease-in-out;
  z-index: 1000;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .closes {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .content {
  max-height: 35%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 80%;
  }
  .popup{
    width: 80%;
  }
}



